.env
sam2/*
__pycache__/*
OmniParser/*
OmniParser/
*.pth
*.pt
*.pyc
sam2/
weights/*

# Ignore temporary files
temp_*.png
annotated_*.png
*.tmp
*.log
*.png
images/*
# Ignore sensitive information
credentials.json
